/* Fix user-agent */

* {
  box-sizing: border-box;
}

html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

html, input {
  font-family:
    "Lucida Console",
    Monaco,
    monospace;
  font-size: 16px;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Pages */

.pages {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.page {
  height: 100%;
  position: absolute;
  width: 100%;
}

/* Login Page */

.login.page {
  background-color: #000;
}

.login.page .form {
  margin-top: -100px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}

.login.page .form .username-input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 400px;
}

.login.page .title {
  font-size: 200%;
}

.login.page .username-input {
  font-size: 200%;
  letter-spacing: 3px;
}


.login.page .title, .login.page .username-input {
  color: #fff;
  font-weight: 100;
}

button.enter {
  width: 73px;
  height: 73px;
  background-color: #000;
  color: #fff;
  border: 2px solid #fff;
  border-color: #fff;
  font-size: 200%;
  margin-left: 5px;
  padding: 17px 19px;
}

button.enter:hover {
  cursor: crosshair;
  color: red;
  border-color: red;
}

@media only screen and (max-width: 750px) {
  .login.page .form .username-input {
    width: 350px;
    font-size: 150%;
  }

  .login.page .title {
    font-size: 150%;
  }

  .login.page .username-input {
    font-size: 150%;
  }

  button.enter {
    width: 65px;
    height: 65px;
    font-size: 150%;
    margin-left: 5px;
    padding: 14px 17px;
  }

}

@media only screen and (max-width: 650px) {
  .login.page .form .username-input {
    width: 60%;
    font-size: 4vw;
  }

  .login.page .title {
    font-size: 4vw;
  }

  .login.page .username-input {
    font-size: 4vw;
  }

  button.enter {
    font-size: 4vw;
    margin-left: .1rem;
    padding: 1rem 1rem;
  }

}
