html, body {
  height: 98%;
}

html, body, input {
  font-family:
    "Lucida Console",
    Monaco,
    monospace;
  font-size: 16px;
}

body {
  background-color: #000;
}

textarea {
  resize: vertical;
  border: none;
  font-size: 16px;
  min-height: 48px;
  box-sizing: border-box;
  color: #fff;
  background-color: #000;
}

textarea:focus {
  outline: none;
}

textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #f7f7f7;
  opacity: .7; /* Firefox */
}

textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #f7f7f7;
}

textarea::-ms-input-placeholder { /* Microsoft Edge */
  color: #f7f7f7;
}

/* flex-boxing */
/* https://css-tricks.com/boxes-fill-height-dont-squish/ */
/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */

.chat-window {
  margin: 0 auto;
  height: 100%;
  width: 90%;
  max-width: 1200px;
  background-color: #000;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (max-width: 1000px) {
  .chat-window {
    width: 100%;
  }
}

/* round-ish border */

.box-wrapper {
  color: #fff;
  background-color: #000;
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
}

/* square button */

.square-button {
  width: 52px;
  height: 52px;
  border: 2px solid #fff;
  border-radius: 5px;
  color: #fff;
  background-color: #000;
  font-size: 1.2rem;
  cursor: crosshair;
  transition: all 0.2s linear;
  text-align: center;
}

.square-button:hover {
  color: red;
  border-color: red;
}

.input-wrapper {
  position: relative;
  margin: 0 5px;
}

/* see this method for scrolling inside a flex-box element */
/* https://medium.com/@stephenbunch/how-to-make-a-scrollable-container-with-dynamic-height-using-flexbox-5914a26ae336 */

.messages-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  overflow-wrap: break-word;
}

.console-box {
  flex: 1;
  min-height: 52px;
}

.console-inner {
  display: flex;
  height: 100%;
}

/* login button & username */

.login-wrapper {
  align-self: flex-end;
  text-align: right;
}

.login-button {
  font-size: 0.8rem;
  text-align: center;
}

/* controls: interactive writing & input */

.users-wrapper {
  flex: 5;
  overflow-y: auto;
}

.users .talkco {
  padding-bottom: 5px;
  /* https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/ */
  overflow: auto;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

/* input: message */

#send-form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.input-button {
  align-self: flex-end;
}

/* character name */

.char-wrapper {
  flex: 1;
}

.character-input {
  height: 100%;
  width: 100%;
}

#username {
  padding: 0px 0px 10px 6px;
}

/* message content */

.message-wrapper {
  flex: 4;
}

.message-input {
  /* border: none; */
  height: 100%;
  width: 100%;
}

/* messages */

.messages {
  height: 100%;
  padding: 0 6px;
  margin: 0;
  overflow: auto;
}

.messages .message {
  clear: both;
  overflow: hidden;
  margin-bottom: 20px;
  transition: all 0.5s linear;
  opacity: 0;
}

.messages > div {
  margin: 10px 5px;
  color: #fff;
}
