@import "base.css";
@import "interactive-boxes.css";
@import "messages-boxes.css";

textarea {
  resize: vertical;
  border: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* buttons */

.square-button, #username {
  font-size: 1.2rem;
}

#login-button, #save-button {
  font-size: 0.8rem;
  margin-bottom: 5px;
}

#input-wrapper {
  flex: 1;
}

#interactive-box {
  flex: 1;
  margin-top: 5px;
  display: flex;
}

#chat-box {
  flex: 1;
  display: flex;
  flex-basis: 80px;
  position: relative;
  overflow: hidden;
}

#buttons-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* see this method for scrolling inside a flex-box element */
/* https://medium.com/@stephenbunch/how-to-make-a-scrollable-container-with-dynamic-height-using-flexbox-5914a26ae336 */

#messages-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  overflow-wrap: break-word;
  margin: 0 5px 5px 0;
}

/* input: message */

#send-form {
  display: flex;
  flex-basis: 52px;
}

#username {
  font-size: 0.8rem;
  text-align: center;
  padding: 0 1px 10px 1px;
  word-wrap: break-word;
  word-break: break-word;
  max-width: 52px;
}

/* character name */

.character-input {
  width: 100%;
}

/* message content */

.message-input {
  width: 100%;
}
