@import "base.css";

input, textarea {
  font-size: 14px;
}

textarea {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 3px;
  border-width: 1px;
}

.main-wrapper {
  overflow-y: scroll;
  max-width: unset;
}

/* session & reset */

#masthead-box {
  display: flex;
  justify-content: space-between;
}

#sess-wrapper {
  flex: 1;
  display: flex;
}

#sess-wrapper > div:first-child {
  margin-right: 5px;
}

/* buttons */

.square-button {
  font-size: 0.8rem;
}

#archives-button, #save-button {
  margin-right: 5px;
}

.batch-btns-wrapper {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
}

.seconds-button {
  font-size: 1.5rem;
  color: red;
}

.again-button, .skip-button {
  margin-bottom: 5px;
}

.square-button-no-hover {
  color: white;
  cursor: default;
}

.square-button-no-hover:hover {
  color: white;
  border-color: white;
}

/* bot controls */

.bot-title {
  margin-bottom: 3px;
}

.bot-subtitle {
  font-size: 14px;
  margin-bottom: 5px;
}

.bot-controls {
  display: flex;
  justify-content: space-between;
}

.bot-form {
  flex: 1;
  margin: 0 5px 0 0;
  display: flex;
  justify-content: stretch;
  flex-wrap: wrap;
  font-size: 14px;
}

@media only screen and (max-width: 650px) {
  .bot-form, input, textarea {
    font-size: 0.9rem;
  }
}

.input-wrapper {
  display: flex;
  justify-content: space-between;
}

.input-wrapper input {
  width: 50%;
}

.input-wrapper textarea {
  width: 75%;
}

.numbers-inputs-wrapper {
  flex-grow: 1;
  margin: 3px;
}

.texts-inputs-wrapper {
  flex-grow: 3;
  margin: 3px;
}

input.id, input.model, input.run {
  border: none;
}

.numbers-label-wrapper {
  width: 45%;
}

.texts-label-wrapper {
  width: 30%;
}

/* set buttons */

.set-button {
  align-self: flex-end;
}

/* batch controls */

.batch-controls {
  margin-top: 5px;
  display: flex;
}

.bot-batch-messages-form {
  display: flex;
  flex-flow: column wrap;
  flex-grow: 1;
  margin-bottom: 0px;
}

.batch-message-container {
  display: flex;
  align-items: flex-start;
  flex-basis: 30%;
  border-radius: 3px;
  margin: 3px;
}

.batch-label {
  display: flex;
  align-content: space-between;
}
