@import "base.css";

html, body {
  height: 98%;
  font-size: 16px;
}

body {
  background-color: #000;
}

html, body, input, textarea {
  color: #fff;
}

input, textarea {
  font-size: 14px;
}

textarea {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 3px;
  border-width: 1px;
}

/* square button */

.square-button {
  font-size: 0.8rem;
}

/* reset button */

.reset-wrapper {
  align-self: flex-end;
  text-align: right;
}

/* bot controls */

.bot-title {
  margin-bottom: 3px;
}

.bot-subtitle {
  font-size: 14px;
  margin-bottom: 5px;
}

.bot-controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.bot-form {
  flex-grow: 1;
  margin: 0 10px 0 0;
  display: flex;
  justify-content: stretch;
  flex-wrap: wrap;
  font-size: 14px;
}

@media only screen and (max-width: 650px) {
  .bot-form, input, textarea {
    font-size: 0.9rem;
  }
}

.input-wrapper {
  display: flex;
  justify-content: space-between;
}

.input-wrapper input {
  width: 50%;
}

.input-wrapper textarea {
  width: 75%;
}

.numbers-inputs-wrapper {
  flex-grow: 1;
  margin: 3px;
}

.texts-inputs-wrapper {
  flex-grow: 3;
  margin: 3px;
}

input.id, input.model, input.run {
  border: none;
}

.numbers-label-wrapper {
  width: 45%;
}

.texts-label-wrapper {
  width: 30%;
}

/* set buttons */

.set-button {
  align-self: flex-end;
}


/* batch controls */

.batch-controls {
  display: flex;
}

.bot-batch-messages-form {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0px;
}

.batch-message-container {
  display: flex;
  align-items: flex-start;
  flex-basis: 30%;
  margin: 3px;
}

.batch-label-container {
  /* margin-right: 3px; */
}

.counter-seconds {
  text-align: center;
  align-self: flex-end;
  font-size: 2rem;
  color: red;
}
