html, body {
  height: 98%;
  font-size: 16px;
}

body {
  background-color: #000;
}

html, body, input, textarea {
  font-family:
    "Lucida Console",
    Monaco,
    monospace;
  color: #fff;
}

input, textarea {
  font-size: 14px;
}

input {
  background: #000;
  border-top-style: hidden;
  border-left-style: hidden;
  border-right-style: hidden;
  border-width: 0px;
}

textarea {
  resize: vertical;
  background: #000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 3px;
  border-width: 1px;
}

input:focus, textarea:focus  {
  outline: none;
}

input::-moz-focus-inner, textarea::-moz-focus-inner {
  border: 0;
}


/* https://css-tricks.com/almanac/selectors/p/placeholder/ */

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
  opacity: .7;
  font-style: italic;
  text-align: left;
}
input::-moz-placeholder, textarea::-moz-placeholder { /* Firefox 19+ */
  color: white;
  opacity: .7;
  font-style: italic;
  text-align: left;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder { /* IE 10+ */
  color: white;
  opacity: .7;
  font-style: italic;
  text-align: left;
}
input:-moz-placeholder, textarea:-moz-placeholder { /* Firefox 18- */
  color: white;
  opacity: .7;
  font-style: italic;
  text-align: left;
}

/* round-ish border */

.box-wrapper {
  background-color: #000;
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
}

/* square button */

.square-button {
  width: 52px;
  height: 52px;
  border: 2px solid #fff;
  border-radius: 5px;
  background-color: #000;
  cursor: crosshair;
  transition: all 0.2s linear;
  text-align: center;
  color: #fff;
  font-size: 0.8rem;
}

.square-button:hover {
  color: red;
  border-color: red;
}

/* reset button */

.reset-wrapper {
  align-self: flex-end;
  text-align: right;
}

/* bot controls */

.bot-name {
  margin-bottom: 10px;
}

.bot-controls {
  display: flex;
  justify-content: space-between;
}

.bot-form {
  flex-grow: 1;
  margin: 0 10px 0 0;
  display: flex;
  justify-content: stretch;
  flex-wrap: wrap;
  font-size: 14px
}

@media only screen and (max-width: 650px) {
  .bot-form, input, textarea {
    font-size: 0.9rem;
  }
}

.input-wrapper {
  display: flex;
  justify-content: space-between;
}

.input-wrapper input {
  width: 50%;
}

.input-wrapper textarea {
  width: 75%;
}

.numbers-inputs-wrapper {
  flex-grow: 1;
}

.texts-inputs-wrapper {
  flex-grow: 3;
}

input.id, input.model, input.run {
  border: none;
}

.numbers-label-wrapper {
  width: 45%;
}

.texts-label-wrapper {
  width: 30%;
}

/* set buttons */

.set-button {
  align-self: flex-end;
}

